@import "tailwindcss";

@theme {
  /* Titres */
  --color-title: #3730a3;
  --color-title-muted: #3730a3b3;

  /* Texte */
  --color-foreground: #374151;
  --color-foreground-muted: #6b7280;
  --color-foreground-subtle: #9ca3af;

  /* Scores */
  --color-score-positive: #1d4ed8;
  --color-score-negative: #b91c1c;
  --color-score-neutral: #6b7280;
  --color-score-text: #ffffff;

  /* Fonds */
  --color-bg-primary: linear-gradient(
    to bottom right,
    #eff6ff,
    #e0e7ff
  ); /* blue-50 → indigo-100 */
  --color-background: #f0f4ff;
  --color-overlay: #000000;
  --color-surface: #ffffff;
  --color-progressbar: #d4a017;

  /* Border */
  --color-border: #e5e7eb;
  --color-border-strong: #6366f1;
  --color-border-header: #0f056b;
  --color-border-input: #1d4ed8;

  /* Boutons */
  --color-btn-confirm: #2563eb;
  --color-btn-text: #ffffff;
  --color-btn-export: #15803d;
  --color-btn-cancel: #dde3f0;
  --color-btn-delete: #b91c1c;
  --color-btn-save: #0d9488;

  /* Borders de boutons */
  --color-btn-confirm-border: #1d4ed8;
  --color-btn-export-border: #14532d;
  --color-btn-cancel-border: #b8c2d9;
  --color-btn-delete-border: #7f1d1d;

  /* Texte sur boutons */
  --color-btn-text-light: #ffffff;
  --color-btn-text-dark: #374151;

  /* Dashboard */
  --color-training: #3b82f6;
  --color-championship: #ca8a04;
  --color-cup: #475569;
  --color-ranking: #ef4444;
  --color-players: #059669;

  /* Table */
  --color-table-header: #111827;
  --color-table-subheader: #374151;
  --color-table-header-text: #f3f4f6;
  --color-table-subheader-text: #e5e7eb;
  --color-table-subheader-border: #4b5563;
  --color-table-border: #374151;
  --color-table-row-even: #e5e7eb;
  --color-table-row-hover: #d1d5db;

  /* Feedback */
  --color-danger: #f87171;
  --color-danger-bg: #fecaca;
  --color-info-bg: #dbeafe;
}

.container {
  @apply max-w-7xl mx-auto p-6;
}

.app-background {
  background: linear-gradient(to bottom right, #eff6ff, #e0e7ff);
}
