@import "tailwindcss";

@theme {
  /* Titres / indigo*/
  --color-title: #3730a3;
  --color-title-muted: #3730a3b3;

  /* Texte / gray */
  --color-foreground: #374151;
  --color-foreground-muted: #6b7280;
  --color-foreground-subtle: #9ca3af;

  /* Fonds / white*/
  --color-background: #f5f5f4;
  --color-overlay: #000000;
  --color-surface: #ffffff;
  --color-border: #d6d3d1;

  /* Boutons */
  --color-btn-confirm: #2563eb;
  --color-btn-export: #15803d;
  --color-btn-cancel: #d6d3d1;
  --color-btn-delete: #b91c1c;

  /* Texte sur boutons */
  --color-btn-text-light: #ffffff;
  --color-btn-text-dark: #374151;

  /* Table */
  --color-table-header: #064e3b;
  --color-table-header-text: #d1fae5;
  --color-table-row-hover: #f5f5f4;

  /* Feedback */
  --color-danger: #f87171;
  --color-danger-bg: #fecaca;
  --color-info-bg: #dbeafe;
}
.container {
  @apply max-w-7xl mx-auto p-6;
}
